.hour-input-container {
  width: 60px;
}

.minute-input-container {
  width:60px;
}

.break-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.table-header {
  background-color: #772237;
  color: white;
}

.total-container {
  position: relative;
  background-color: #772237;
  height: 180px;
}



#clear-btn {
  position: absolute;
}

.calc-table-container {
  position: absolute;
  top:0px;
  right:0px;
  padding-right: 35px;
}

.pay-calc-table-row {
  height: 10px;
}



/* --------------- Total Hours 0.00  --------------- */
.total-hours-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 180px;
}
.total {
  font-size: 1.1em;
  color: white;
}
#calculated-hours {
  font-size: 1.2em;
  color: white;
}


/* ----------------------- Hourly Rate $0.00 ----------------------- */
.hourly-rate-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
}
.hourly-rate-label {
  color: white;
  font-size: 1.1em;
}
#hourly-rate-input {
  width: 180px;
  height: 27px;
}

/* --------------------- Total Pay $0.00 -------------------- */

.total-pay-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 280px;
}
.total-pay-label {
  font-size: 1.1em;
  color: white;
}
#total-pay-output {
  width: 180px;
  height: 27px;
}

#calc-total-pay-button {
  position: relative;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  background-color: #9b4b5f;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

#calc-total-pay-button:hover {
  background-color: #9e2e4a;
  font-size: 1.1em;
}
label {
  font-size: 1.2em;
}